body {
    color: white;
    background: black;
    margin: 0px;
    font-family: "Bebas Neue", sans-serif;
}

header {
      border-bottom: solid 2px white;
      padding: 20px;
      font-size: 32px;
      background: rgb(54, 10, 10);
}

section {
    background: rgb(0, 0, 0);
    padding-bottom: 80px;
    padding-top: 1px;
    display: flex;
    justify-content: center;
}

.chamada-texto{
    margin-right: 5%;
    letter-spacing: 2px;
}

h1{
    font-size: 40px;
}

p{
    font-size: 20;
}


.novidade{
    display: flex;
    justify-content: center;
    padding-top: 40px;
    font-size: 40px;
}


.categoria-video{
    display: flex;
    overflow-x: auto;
    margin: 10px;
}

h2{
    background: rgb(54, 10, 10) ;
    display: flex;
    justify-content: center;
    padding-top: 9px;
    font-size: 40px;
    
}

.categoria-video img {
     opacity: 0.5;
     height: 200px;
     margin-right: 6px;
}

.categoria-video img:hover{
    opacity: 1.0;
    border: solid green;
}